table {
  border-collapse: separate !important;
}
th {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
  background-color: white !important;
}

.table-container {
  overflow-y: auto;
  max-height: calc(80vh - 150px);
}